- provide(:title, "Contact Us")
%h1 Contact Us
.headline
  %hr
= image_tag('kavish.jpg')
%h2 Kavish R. Munjal
%h4 Owner and maintaner
%h3 kavish@dwidder.com
%p Address: yeah, I don't think so
%p Phone: not very secure
%p SSN: you're kidding right?
