- provide(:title, "Home")
.container
  .row
    .col-sm-4
      = render 'partials/user_profile_info', user: current_user
      = render 'partials/new_dweed_form'
    .col-sm-8
      - if @dweeds.any?
        %ul.dweeds-list
          = render @dweeds
        = will_paginate @dweeds
