%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{aria: {controls: :navbar, expanded: false},
                                      data: {target: '#navbar', toggle: :collapse}, type: :button}

      %a.navbar-brand{href: root_path} Not Twitter
