- provide(:title, @user.name)
.container
  .row
    .col-sm-4
      = render 'partials/user_profile_info', user: @user
      = render 'partials/new_tweat_form'
    .col-sm-8
      - if @user.tweats.any?
        %ul.tweats-list
          = render @tweats
        = will_paginate @tweats
      - else
        %h3 No Tweats to Show :(
