/* Colors */
$theme-color:  #E6E6FA;				/* Lavender */
$logo-color: #6A737C;         /* Gray */
$secondary-color: #8A2BE2;    /* Purple */
$border-color: #DDDDDD;     	/* Light Gray */
$background-color: #F1F1F1;   /* Very Light Gray */
$normal-text: #333333;        /* Dark Gray */
$inverse-text: #FFFFFF;       /* White */
$errors: #ff3333;             /* Red */

/* Padding */
$padding-px: 10px;
$padding-em: 1em;

$user-info-line-height: 0.8;
