// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.headline {
  hr {
    height: 3px;
    background-color: $border-color;
  }
}

.about {
  padding: $padding-em * 3;
  color: #091834;
  line-height: 0.1;
  font-weight: bolder;
  font-size: 150%;

  .btn {
    color: #7FBD32;
    background-color: #E7F7D4;
    border-color: #7FBD32;
  }
}

.about-first {
  background-color: #E7F7D4;
  border: 4px solid #D6E6C3;
}

.about-second {
  background-color: #7FBD32;
  border: 4px solid #6EAC21;
  color: #E7F7D4;
  text-align: right;
}
