// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.user-profile-block {
  background: $lighter-background-color;
  border-radius: $padding-px;
  border: thin $border-color solid;
  margin-left: $padding-em * -1;
  padding: $padding-em;
  line-height: $user-info-line-height;
}

.edit-user-block {
  background: $lighter-background-color;
  padding-bottom: $padding-em;
  border-radius: $padding-px;
  border: thin $border-color solid;
}

.users-list {
  margin-top: $padding-px * -2;
  margin-left: $padding-px * -2;
}

.list-user {
  padding: $padding-px $padding-px $padding-px 0;
  list-style-type: none;

  .user-delete-button {
  }
}

.tweats-list {
  border: 1px $border-color solid;
  border-radius: $padding-px;
  list-style-type: none;
}
